
<%= form_tag('/users', :method => :get) do %>
  <%= select_tag(:order_by, options_for_select([ 'Category Name','Username','Project Title' ], params[:order_by])) %>
  <%= submit_tag "Search with parameters" %>
<% end %>
<div id="post-content" >
  <%= render 'index', object: @users%>
</div>