<table cellpadding="100" border= "1px solid black"; bgcolor="#f0f8ff">
  <tr>
    <th> Name</th>
    <th> Username</th>
    <th> CategoryName</th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.user.username %></td>
      <td><%= project.category.name %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @projects, :remote => true %>